[submodule "frontend/app/blockly"]
	path = frontend/app/blockly
	url = git@github.com:jstnhuang/blockly.git
[submodule "src/jsinterpreter"]
	path = src/jsinterpreter
	url = git@github.com:jstnhuang/JS-Interpreter.git
