<launch>
  <node pkg="code_it" type="programs.py" name="program_db" />
  <node pkg="code_it" type="run_js_interpreter.sh" name="js_interpreter" cwd="node" />
  <include file="$(find agile_grasp)/launch/single_camera_grasps.launch" />
  <node name="code_it_pr2" pkg="code_it_pr2" type="main_node" />
</launch>
